@import url(./styles/header.css);
@import url(./styles/banner.css);
@import url(./styles/carrossel.css);
@import url(./styles/topicos.css);
@import url(./styles/contato.css);
@import url(./styles/rodape.css);

:root{
    --cor-de-fundo: #EBECEE;
    --cor-branco: #ffffff;
    --cor-branco2: #f9f9f9;
    --cor-laranja: #EB9B00;
    --cor-Azul: #002F52;
    --cor-cinza-escuro: rgba(0, 0, 0, 0.85);
    --cor-cinza-claro: #858585;
    --cor-cinza-medio: #474646;
    --cor-cinza-medio2: #858585;
    --cor-azul-gradiente: linear-gradient(98deg, #002F52 35.49%, #326589 165.37%);
    --cor-preto:#000;
    --fonte-principal: 'Poppins', sans-serif;;
    --fonte-secundario: 'Josefin Sans', sans-serif;
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
    }