.contato{
    background-color: var(--cor-branco);
    text-align: start;
    padding: 1.5rem;
}

.contato__titulo,
.contato__texto{
    background: var(--cor-azul-gradiente);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contato__titulo{
    font-size: 1.12rem;
    font-weight: 500;
}

.contato__texto{
    font-size: 1rem;
    font-weight: 300;
    padding: 0.5rem 0 1.5rem 0;
}

.contato__email{
    background-color: transparent;
    border-radius: 24px;
    border: 1px solid var(--Teste, #002F52);
    padding: 0.6rem 1.5rem;
    width: 85%; 
    color: var(--cor-Azul);
}

.contato__email::placeholder{
    font-family: var(--fonte-principal);
    font-size: 0,8rem;
    font-weight: 400;
    color: var(--cor-Azul);
    padding-left: 3.7rem;
    background: url(../assets/Email.svg) no-repeat;
    background-position: 1.5rem;
}