.cabeçalho__menu-hamburguer{
    width: 48px;
    height: 48px;
    background-image: url(../assets/Menu.svg);
    background-repeat: no-repeat;
    display: inline-block;
}

.cabeçalho{
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
    margin: 1.125rem 1.5rem 1.125rem 0;
    gap: 0.625rem;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    z-index: 2;
}

.container__botao:checked~.lista-menu{
    display: block;
}

.lista-menu__titulo,
.lista-menu__item{
    background-color: var(--cor-branco);
    padding: 1rem;
}

.lista-menu__titulo{
    color: var(--cor-laranja);
    font-weight: 700;
}

.lista-menu__link{
    text-decoration: none;
    background: var(--cor-azul-gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao{
    display: none;
}

.container__titulo{
    display: none;
}

.opções{
    display: none;
}

@media screen and (min-width: 1024px){
    .container__titulo, 
    .container__titulo--negrito{
    font-family: var(--fonte-secundario);
    font-size: 1.875rem;
    ;
    }

    .container__titulo{
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }

    .opções, .opções__item, .opções__link{
        display: block;
        text-decoration: none;
        color: var(--cor-preto);
        font-weight: 400;
    }

    .opções{
        display: flex;
    }

    .opções__item{
        padding: 0 1rem;
        text-transform: uppercase;
    }

    .container__imagem--transparente{
        display: none;
    }

    .cabeçalho__menu-hamburguer{
        display: none;
    }

    .opções__botão:checked ~ .lista-menu{
        display: block;
        width: auto;
    }

    .opções__botão{
        display: none;
    }
}