.tópicos{
    background: var(--cor-azul-gradiente);
    color: var(--cor-branco);
    padding: 1.5rem 0;
}

.tópicos__titulo{
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    padding-bottom: 2rem;
}

.tópicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tópicos__itens{
    margin: 1.5rem 0.5rem;
}

.tópicos__link{
    color: var(--cor-branco);
    padding: 1rem;
    background-color: var(--cor-laranja);
    font-size: 0.8rem;
    text-decoration: none;
    font-weight: 700;
}

@media screen and (min-width: 1024px){

    .tópicos{
        padding: 2rem 0;
    }

    .tópicos__titulo{
        font-size: 1.5rem;
        padding-bottom: 2.5rem;
    }

    .tópicos__itens{
        margin: 2.5rem 1rem;
    }

    .tópicos__link{
        padding: 1.5rem 2rem;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1728px) {
    
    .tópicos{
        padding: 0.5rem;
    }

    .tópicos__titulo{
        margin-top: 4rem;
    }

    .tópicos__lista{
        margin: 0 25rem 3rem 25rem;
    }
}
